:root {
    --user-bubble-background: #c2c2c2;
    --assistant-bubble-background: #f1f1f1;
}



.chat-bubble {
    border-radius: 10px;
    padding: .75rem;
}

.assistant {
    background-color: #f1f1f1;
    color: black;
}

.user {
    background-color: var(--user-bubble-background);
}